# Ignore entire wordpress core directory except mirabell-medical theme
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/mirabell-medical/

# System & SQLite
*.sqlite
*.sqlite3
*.db
*.log
.DS_Store
Thumbs.db
node_modules/
.env
.env.*
